<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button fab (click)="GeocoderWithCoords()"> My Location</button>
  <div *ngIf="IsLocation">
    <ion-item>
      <p text-center>{{Location.countryName}}</p>
    </ion-item>
    <ion-item>
      <p text-center>{{Location.subLocality}}</p>
    </ion-item>
    <ion-item>
      <p text-center>{{Location.thoroughfare}}</p>
    </ion-item>
    <ion-item>
      <p text-center>{{Location.subThoroughfare}}</p>
    </ion-item>
  </div>


  <agm-map *ngIf="IsLocation" [latitude]="lat" [longitude]="log">
    <agm-marker [latitude]="lat" [longitude]="log"></agm-marker>
  </agm-map>
</ion-content>
